{
  "PROJECT_ROOT": "/Users/admin/projects/deal-aggregator-facebook",
  "DEALS_RAW_DIR": "deal-aggregator/data/raw",
  "DEALS_ENRICHED_DIR": "deal-aggregator/data/enriched",
  "DEALS_SELECTED_DIR": "deal-aggregator/data/selected",
  "MEDIA_DIR": "media",
  "LOGS_DIR": "deal-aggregator/data/logs",
  "FB_APP_ID": "1427920308500326",
  "FB_APP_SECRET": "879b6f110d0c12c5b603c4c7fa6c1486",
  "FB_PAGE_ID": "69867800003276",
  "FB_PAGE_ACCESS_TOKEN": "EAAUSr5rBd2YBPPwu0OTqZAhcnhwvOZAgLLVk6OHXdtXBJWjbSAesnIjTrtMnsvrZAYMm4pgzCQSWMwXxYxtocqBGMsx9MDYn4jYZCrQv2Ju08QzBajmZAKmnPfUoDJZBt7zpWCX04PYfvifee2nG0RoZBEz0zQZCKBprGw2NIdgOLMEbQ4FJ8U2WgwTb6GLuyNRA4bBI",
  "FACEBOOK_WEBHOOK_VERIFY_TOKEN": "simple_test_token_123",
  "FB_POST_DELAY_MINUTES": 5
}